<% @recipes.each do |recipe| %>
    <%= link_to user_recipe_path(@user, recipe.id), class: 'recipe-item' do %>
      <div class="recipe">
        <div>
          <h3><%= recipe.name %></h3>
          <p><%= recipe.desc.split(" ")[0..80].join(" ") %></p>
        </div>
      </div>
    <% end %>
  <% end %>