<h1>Public Recipies</h1>

<% if @public_recipes.length > 0 %>
<% @public_recipes.each do |recipe|%>
    <%= recipe.name%>
    <p>by: <%= recipe.user.name%><p>
    <p>Total food Items: <%= recipe.recipes_foods.length %> </p>
    
    <% total = 0 %>
        <% recipe.recipes_foods.each do |food| %>
        <% total += food.food.price %>
        <% end %>
        <p>Total price: $<%= total %> </p>
    <% end %>
<% else %>
    <h1> No Public Recipies</h1>
<% end %>
