<h1>Public Recipies</h1>

<% if @public_recipes.length > 0 %>
<div>
    <% @public_recipes.each do |recipe|%>
    <div>
        <div>
            <%= link_to "#{recipe.name}", "/recipes/#{recipe.id}" %>
            <p>by: <%= recipe.user.name%><p>
        </div>
        <div>
            <p>Total food Items: <%= recipe.recipes_foods.length %> </p>
            <p>Total price: </p>
        </div>
    </div>
    <% end %>
 </div>
<% else %>
    <h1> No Public Recipies</h1>
<% end %>