<div class='main-container'>
<ul>
<% @users.each do |user| %>
    <%= link_to user_recipes_path(user) do %>
    <li class='user-list'>
    <div class='user-box'>
    <div class='name'><%= user.name  %></div>
    </div>
    </li>
    <% end %>
    <% end %>
</ul>
</div>
