.cont {
  margin: 2rem;
  border: 2px solid;
}

.col {
  padding: 1rem;
}

.recipe-title {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.generate-shopping-list,
.add-ingredient {
  padding: 0.7rem;
}
