.cont {
  margin: 2rem;
  border: 2px solid;
}

.col {
  padding: 1rem;
}

.recipe-title {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.b-public {
  position: absolute;
  right: 7%;
  top: 25%;
}
