* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

.main-container {
  width: 70%;
  margin: auto;
}

.user-list {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 2rem;
}

.user-box {
  border: 2px solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.name {
  font-size: 2rem;
  cursor: pointer;
}
  